html {
    font-family: 'Open Sans Condensed', sans-serif;
    overflow: hidden;
}

body {
    background-color: #0CA7D2;
    font-family: 'Open Sans Condensed', sans-serif;
}

.container {
    height: 100%;
    width: 100%;
    /*padding: 0;*/
}

.container .first-row {
    height: 100%;
}

.container .first-row .date-time {
    background-color: #0CA7D2;
    height: 100%;
    margin-top: 8%;
}

.container .first-row .date-time .time {
    color: #FFFFFF;
    font-size: 14em;
    text-align: center;
    margin-bottom: 0;
}

.container .first-row .date-time .date {
    color: #035A73;
    text-transform: uppercase;
    font-size: 3.6em;
    text-align: center;
    margin-top: 0;
}

.container .first-row .home-values {
    background-color: #0785A9;
    height: 100%;
    color: #FFFFFF;
    font-size: 10em;
    text-align: center;
}

.container .first-row .home-values h3 {
    color: #0CA7D2;
    font-size: 0.15em;
    margin-bottom: 0;
    margin-top: 90%;
}

.container .first-row .home-values h2 {
    font-size: 0.75em;
    margin-top: 0;
}