@font-face {
    font-family: "Open Sans Condensed Light";
    src: url('OpenSans-CondLight.ttf') format("truetype");
}

@font-face {
    font-family: "Open Sans Condensed Light Italic";
    src: url('OpenSans-CondLightItalic.ttf') format("truetype");
}

@font-face {
    font-family: "Open Sans Condensed Bold";
    src: url('OpenSans-CondBold.ttf') format("truetype");
}

html {
    font-family: 'Open Sans Condensed Light', sans-serif;
    overflow: hidden;
    cursor: none;
}

body {
    background-color: #0CA7D2;
    font-family: 'Open Sans Condensed Light', sans-serif;
    cursor: none;
}

.container {
    width: 100%;
}

.container .outside-screen,
.container .inside-screen {
    height: 100%;
    z-index: 1;
}

.outside-button,
.inside-button {
    position: absolute;
    width: 46px;
    height: 46px;
    top: 4px;
    left: 4px;
    background-color: transparent;
}

.outside-button i,
.inside-button i {
    color: #035A73;
    font-size: 40px
}

.outside-screen i,
.inside-screen i {
    color: #FFFFFF;
}

.outside-screen p.lead,
.inside-screen p.lead {
    font-size: 3em;
    color: #FFFFFF;
    margin-bottom: 0;
}

.outside-screen p span.muted,
.inside-screen p span.muted {
    color: #035A73;
    font-size: 0.4em;
}

.outside-screen .lead,
.inside-screen .lead {
    /*line-height: 2em;*/
}

.outside-screen .close-outside-screen,
.inside-screen .close-inside-screen {
    position: absolute;
    right: 10px;
    top: 0;
}

.outside-screen .close-outside-screen i,
.inside-screen .close-inside-screen i {
    color: #FFFFFF;
    margin-top: 8px;
    font-size: 40px;
}

.outside-screen .ct-chart {
    height: 210px;
    display: inline-block;
}

.inside-screen .ct-chart {
    height: 210px;
    display: inline-block;
}

.outside-screen .ct-series-a .ct-area, .outside-screen .ct-series-a .ct-slice-pie,
.inside-screen .ct-series-a .ct-area, .inside-screen .ct-series-a .ct-slice-pie {
    fill: #FFFFFF;
}

.outside-screen .ct-line,
.inside-screen .ct-line {
    stroke: white;
}

.outside-screen .ct-bar,
.inside-screen .ct-bar {
    stroke: white;
}

/*.outside-screen .ct-line.ct-threshold-below, .outside-screen .ct-point.ct-threshold-below, .outside-screen .ct-bar.ct-threshold-below {*/
/*stroke: #5500FF;*/
/*}*/

/*.outside-screen .ct-line.ct-threshold-above, .outside-screen .ct-point.ct-threshold-above, .outside-screen .ct-bar.ct-threshold-above {*/
/*stroke: #FFFFFF;*/
/*}*/

/*.outside-screen .ct-area.ct-threshold-below {*/
/*fill: #5500FF;*/
/*}*/

/*.outside-screen .ct-area.ct-threshold-above {*/
/*fill: #FFFFFF;*/
/*}*/

.outside-screen .ct-label,
.inside-screen .ct-label {
    font-size: .95em;
    font-weight: bold;
    margin-top: 4px;
}

.outside-screen .ct-label.ct-horizontal,
.inside-screen .ct-label.ct-horizontal {
    margin-left: -13px;
}

.outside-screen .chart-outside-temperature-label,
.inside-screen .chart-inside-temperature-label {
    position: absolute;
    top: 29%;
    left: 39%;
    font-size: 3em;
    color: white;
    opacity: 0.35;
}

.outside-screen .chart-outside-pressure-label,
.inside-screen .chart-inside-humidity-label {
    position: absolute;
    top: 72%;
    left: 43%;
    font-size: 3em;
    color: white;
    opacity: 0.35;
}

.container .dashboard {
    height: 100%;
    z-index:3;
}

.container .dashboard .date-time {
    background-color: #0CA7D2;
    height: 100%;
    margin-top: 8%;
}

.container .dashboard .date-time .time {
    color: #FFFFFF;
    font-size: 14em;
    text-align: center;
    margin-bottom: 0;
}

.container .dashboard .date-time .date {
    color: #035A73;
    text-transform: uppercase;
    font-size: 3.6em;
    text-align: center;
    margin-top: 0;
}

.container .dashboard .home-values {
    background-color: #0785A9;
    height: 100%;
}

.container .dashboard .home-values div.temperature {
    background: url('../images/temperature-white.svg');
    background-repeat: no-repeat;
    background-position: 0px 100px;
    background-size: 100px;
    margin: 60px auto;
    height: 210px;
    width: 360px;
}

.container .dashboard .home-values .temperature p {
    color: #FFFFFF;
    font-size: 4.5em;
    text-align: right;
    padding-right: 20px;
    height: 100%;
    letter-spacing: -0.05em;
}

.container .dashboard .home-values div.humidity {
    background: url('../images/drop-white.svg');
    background-repeat: no-repeat;
    background-position: 0px 40px;
    background-size: 50px;
    height: 100px;
    width: 190px;
    margin: 0 auto;
}

.container .dashboard .home-values .humidity p {
    color: #FFFFFF;
    font-size: 2.5em;
    line-height: 3em;
    text-align: right;
    height: 100%;
}

.container .dashboard .home-values p span {
    color: #FFFFFF;
    font-size: 3em;
}

.container .dashboard .home-values p span.float,
.container .dashboard .home-values p span.dot {
    font-size: 1.5em;
}

.container .dashboard .home-values p span.unit {
    color: #035A73;
    font-size: 1em;
}

.outside-resume-display {
    position: absolute;
    width: 50%;
    height: 60px;
    top: 0px;
    left: 0px;
    background-color: transparent;
    z-index: 2;
    opacity: 0.75;
}

.outside.temperature {
    float: left;
    width: 20%;
    font-size: 2em;
    font-family: "Open Sans Condensed Light";
    line-height: 2em;
    font-style: normal;
    text-align: right;
    margin-right: 12px;
    color: white;
}

.outside.pressure {
    float: left;
    font-size: 2em;
    font-family: "Open Sans Condensed Light";
    line-height: 2em;
    font-style: normal;
    text-align: left;
    color: white;
}

.outside.separator {
    float: left;
    width: 10px;
    height: 30px;
    border-left: 2px solid white;
    margin-top: 14px;
}

.state {
    position: absolute;
    width: 50%;
    height: 60px;
    top: 0px;
    right: 0px;
    background-color: transparent;
    z-index: 2;
}

.state .ambiance-mode .auto {
    float: right;
    width: 80px;
    height: 100%;
    font-size: 3em;
    font-family: "Open Sans Condensed Light";
    font-style: normal;
    text-align: right;
    margin-right: 12px;
    color: white;
}

.state .ambiance-mode .sun {
    float: right;
    display: block;
    width: 50px;
    height: 60px;
    opacity: 1;
    background: url('../images/ambiance-comfort.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 40px;
}

.state .ambiance-mode .cold {
    float: right;
    display: block;
    width: 50px;
    height: 60px;
    opacity: 1;
    background: url('../images/ambiance-reduced.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 40px;
}

.state .sensor .sensor-status {
    float: right;
    display: block;
    width: 50px;
    height: 60px;
    opacity: 1;
    background: url('../images/sensor.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 40px;
}

.state .sensor .sensor-status.inactive {
    animation: sensorInactive 1s infinite;
}

@keyframes sensorInactive {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.setup-button {
    position: absolute;
    width: 46px;
    height: 46px;
    bottom: 0px;
    right: 0px;
    background-color: transparent;
}

.setup-button i {
    color: #FFFFFF;
    font-size: 40px;
    opacity: 0.5;
}

.setup-screen i {
    color: #FFFFFF;
}

.close-setup i {
    color: #FFFFFF;
    margin-top: 8px;
    font-size: 40px;
}

.setup-screen p.lead {
    font-size: 3em;
    color: #FFFFFF;
    margin-bottom: 0;
}

.setup-screen p span.muted {
    color: #035A73;
    font-size: 0.4em;
}

.setup-screen .close-setup {
    position: absolute;
    right: 10px;
    top: 0;
}

.target-temperature {
    color: #FFFFFF;
    font-size: 3em;
    line-height: 3em;
    height: 3em;
}

.target-temperature span {
    font-size: 3em;
}

.close-setup a {
    width: 5%;
}

.increase-temp,
.decrease-temp {
    position: relative;
    color: #FFFFFF;
    font-size: 3em;
}

.increase-temp i {
    margin-top: .3em;
}

.decrease-temp i {
    margin-top: .6em;
}

.setup-type {
    margin-bottom: 1.5em;
    left: 50%;
    margin-left: -190px;
}

.setup-type .btn {
    background-color: transparent;
    border: 1px solid #035A73;
    color: #035A73;
    box-shadow: none;
    border-radius: 0;
}

.setup-type .btn.active,
.setup-type .btn:active {
    background-color: #035A73;
    color: #FFFFFF;
}

.datetime-setup {
    height: 164px;
}

.datetime-setup > div {
    opacity: 0;
}

.datetime-setup > div.active {
    opacity: 1;
}

.datetime-setup .day {
    float: left;
    width: 100%;
    margin-bottom: 10px;
}

.datetime-setup .day > label {
    float: left;
    color: #035A73;
}

.datetime-setup .day .hours {
    width: 100%;
    float: left;
}

.datetime-setup .day .hours .hour {
    float: left;
    width: 33px;
    height: 80px;
    margin-right: -1px;
    border: 1px solid #6FC8E2;
}

.datetime-setup .day .hours .hour > label {
    width: 100%;
    text-align: center;
    color: #035A73;
    margin-top: 0.4em;
}

.datetime-setup .day .hours .hour .hour-half {
    border-top: 1px solid #6FC8E2;
}

.datetime-setup .day .hours .hour .hour-half .half {
    float: left;
    width: 50%
}

.datetime-setup .day .hours .hour .hour-half .half input[type="checkbox"] {
    display: none;
}

.datetime-setup .day .hours .hour .hour-half .half .button {
    width: 100%;
    height: 47px;

}

.datetime-setup .day .hours .hour .hour-half .half:first-child .button {
    border-right: 1px solid #6FC8E2;
}

.datetime-setup .day .hours .hour .hour-half .half .button {
    background-color: #2EB2D7;
}

.datetime-setup .day .hours .hour .hour-half .half .button.active {
    background-color: #035A73;
}

.datetime-setup #everyday,
.datetime-setup #weekday_weekend,
.datetime-setup #each_weekday {
    margin-top: 20px;
}

.datetime-setup .nav-tabs {
    border-color: #035A73;
}

.datetime-setup #everyday li a,
.datetime-setup #weekday_weekend li a,
.datetime-setup #each_weekday li a {
    border-radius: 0;
    background-color: transparent;
    color: #035A73;
    border-color: transparent;
    padding: 6px 15px;
}

.datetime-setup #everyday li.active a,
.datetime-setup #weekday_weekend li.active a,
.datetime-setup #each_weekday li.active a {
    background-color: #035A73;
    border-color: #035A73;
    color: #FFFFFF;
}

.datetime-setup #everyday .tab-content,
.datetime-setup #weekday_weekend .tab-content,
.datetime-setup #each_weekday .tab-content {
    margin-top: 10px;
}

.legend .comfort_mode,
.legend .reduce_mode {
    width: 15px;
    height: 25px;
    float: left;
    margin-right: 10px;
}

.legend span {
    line-height: 2em;
}

.legend .comfort_mode {
    /*border: 1px solid #6FC8E2;*/
    background-color: #035A73;
}

.legend .reduce_mode {
    /*border: 1px solid #6FC8E2;*/
    background-color: #2EB2D7;
}

.validAction {
    animation-name: validActionAnimation;
    animation-duration: 2s;
    animation-timing-function: ease;
}

@keyframes validActionAnimation {
    0% {
        color: #FFFFFF;
    }
    50% {
        color: #00FF00;
    }
    100% {
        color: #FFFFFF;
    }
}