@font-face {
    font-family: "Open Sans Condensed Light";
    src: url('OpenSans-CondLight.ttf') format("truetype");
}

@font-face {
    font-family: "Open Sans Condensed Light Italic";
    src: url('OpenSans-CondLightItalic.ttf') format("truetype");
}

@font-face {
    font-family: "Open Sans Condensed Bold";
    src: url('OpenSans-CondBold.ttf') format("truetype");
}

html {
    font-family: 'Open Sans Condensed Light', sans-serif;
    overflow: hidden;
    cursor: none;
    width: 800px;
    height: 480px;
}

body {
    background-color: #0CA7D2;
    font-family: 'Open Sans Condensed Light', sans-serif;
    cursor: none;
}

.container-fluid {
    width: 100%;
}

.container-fluid .outside-screen,
.container-fluid .inside-screen,
.container-fluid .log-screen {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 720px;
    height: 400px;
    margin-left: -360px;
    margin-top: -190px;
    z-index: 10;
    border: 4px solid white;
    border-radius: 6px;
}

.container-fluid .log-screen .log-content {
    height: 87%;
    width: 100%;
    color: white;
    overflow-y: scroll;
    font-family: "Open Sans Condensed Light";
    font-size: 22px;
}

.outside-screen .close-button,
.inside-screen .close-button,
.log-screen .close-button {
    position: absolute;
    display: block;
    top: -27px;
    right: 62px;
    height: 0;
    width: 0;
    z-index: 11;
}

.outside-screen .close-button i,
.inside-screen .close-button i,
.log-screen .close-button i {
    color: white;
    font-size: 28px;
    border-radius: 6px;
    /*box-shadow: 0 0 0px 6px #0785A9;*/
    background-color: #0785A9;
    border: 4px solid white;
    padding: 5px;
}

.outside-screen p.lead,
.inside-screen p.lead,
.log-screen p.lead {
    font-size: 2em;
    color: #FFFFFF;
    margin-top: -26px;
    background-color: #2EB2D7;
    border-radius: 6px;
    /*box-shadow: 0 0 10px 13px #2EB2D7;*/
    width: 164px;
    padding: 4px 8px 9px 8px;
    border: 4px solid white;
    line-height: 25px;
}

.outside-screen p span.muted,
.inside-screen p span.muted,
.log-screen p span.muted {
    color: #035A73;
    font-size: 0.4em;
}

.outside-screen .lead,
.inside-screen .lead,
.log-screen .lead {
    /*line-height: 2em;*/
}

.outside-screen .close-outside-screen,
.inside-screen .close-inside-screen,
.log-screen .close-log-screen {
    position: absolute;
    right: 10px;
    top: 0;
}

.outside-screen .close-outside-screen i,
.inside-screen .close-inside-screen i,
.log-screen .close-log-screen i {
    color: #FFFFFF;
    margin-top: 8px;
    font-size: 40px;
}

.outside-screen .ct-chart {
    height: 170px;
    display: inline-block;
}

.inside-screen .ct-chart {
    height: 170px;
    display: inline-block;
}

.outside-screen .ct-series-a .ct-area, .outside-screen .ct-series-a .ct-slice-pie,
.inside-screen .ct-series-a .ct-area, .inside-screen .ct-series-a .ct-slice-pie {
    fill: #FFFFFF;
}

.outside-screen .ct-line,
.inside-screen .ct-line {
    stroke: white;
}

.outside-screen .ct-bar,
.inside-screen .ct-bar {
    stroke: white;
}

/*.outside-screen .ct-line.ct-threshold-below, .outside-screen .ct-point.ct-threshold-below, .outside-screen .ct-bar.ct-threshold-below {*/
/*stroke: #5500FF;*/
/*}*/

/*.outside-screen .ct-line.ct-threshold-above, .outside-screen .ct-point.ct-threshold-above, .outside-screen .ct-bar.ct-threshold-above {*/
/*stroke: #FFFFFF;*/
/*}*/

/*.outside-screen .ct-area.ct-threshold-below {*/
/*fill: #5500FF;*/
/*}*/

/*.outside-screen .ct-area.ct-threshold-above {*/
/*fill: #FFFFFF;*/
/*}*/

.outside-screen .ct-label,
.inside-screen .ct-label {
    font-size: .95em;
    font-weight: bold;
    margin-top: 4px;
}

.outside-screen .ct-label.ct-horizontal,
.inside-screen .ct-label.ct-horizontal {
    margin-left: -13px;
}

.outside-screen .chart-outside-temperature-label,
.inside-screen .chart-inside-temperature-label {
    position: absolute;
    top: 29%;
    left: 39%;
    font-size: 3em;
    color: white;
    opacity: 0.35;
}

.outside-screen .chart-outside-pressure-label,
.inside-screen .chart-inside-humidity-label {
    position: absolute;
    top: 72%;
    left: 43%;
    font-size: 3em;
    color: white;
    opacity: 0.35;
}

.container-fluid .dashboard {
    height: 100%;
    z-index: 3;
}

.container-fluid .dashboard .date-time {
    background-color: #0CA7D2;
    /*height: 100%;*/
    margin-top: 8%;
}

.container-fluid .dashboard .date-time .time {
    color: #FFFFFF;
    font-size: 14em;
    text-align: center;
    margin-bottom: 0;
    margin-top: 10%;
}

.container-fluid .dashboard .date-time .date {
    color: #035A73;
    text-transform: uppercase;
    font-size: 3.6em;
    text-align: center;
    margin-top: 5%;
}

.container-fluid .dashboard .home-values {
    background-color: #0785A9;
    height: 100%;
    margin-top: 8%;
}

.container-fluid .dashboard .home-values div.temperature {
    background: url('../images/temperature-white.svg');
    background-repeat: no-repeat;
    background-position: 0px 100px;
    background-size: 100px;
    margin: 1% auto;
    height: 210px;
    width: 360px;
}

.container-fluid .dashboard .home-values .temperature p {
    color: #FFFFFF;
    font-size: 4.65em;
    text-align: right;
    padding-right: 20px;
    height: 100%;
    letter-spacing: -0.05em;
}

.container-fluid .dashboard .home-values div.humidity {
    background: url('../images/drop-white.svg');
    background-repeat: no-repeat;
    background-position: 0px 40px;
    background-size: 50px;
    height: 100px;
    /*width: 190px; when float displayed */
    width: 160px;
    margin: 8% auto;
}

.container-fluid .dashboard .home-values .humidity p {
    color: #FFFFFF;
    font-size: 2.5em;
    line-height: 3em;
    text-align: right;
    height: 100%;
}

.container-fluid .dashboard .home-values p span {
    color: #FFFFFF;
    font-size: 3em;
}

.container-fluid .dashboard .home-values p span.float,
.container-fluid .dashboard .home-values p span.dot {
    font-size: 1.5em;
}

.container-fluid .dashboard .home-values p span.unit {
    color: #035A73;
    font-size: 1em;
}

.outside-resume-display {
    position: absolute;
    width: 50%;
    height: 65px;
    top: 0px;
    left: 0px;
    background-color: transparent;
    z-index: 2;
    font-size: 3em;
}

.outside.temperature {
    float: left;
    width: 30%;
    font-family: 'Open Sans Condensed Light', sans-serif;
    font-style: normal;
    text-align: left;
    color: white;
    margin-left: 10px;
}

.outside.pressure {
    float: left;
    font-family: 'Open Sans Condensed Light', sans-serif;
    font-style: normal;
    text-align: left;
    margin-left: 10px;
    color: white;
}

.outside.temperature span.unit,
.outside.pressure span.unit {
    font-size: 0.5em;
}

.outside.separator {
    float: left;
    width: 2px;
    height: 42px;
    border-left: 2px solid white;
    margin-top: 10px;
    margin-left: 10px;
}

.outside-resume-display p,
.outside.separator {
    opacity: 0.7;
}

.state {
    position: absolute;
    width: 50%;
    height: 65px;
    top: 0px;
    right: 0px;
    background-color: #0785A9;
    z-index: 2;
}

.state .ambiance-mode,
.state .sensor {
    opacity: 0.7;
}

.state .ambiance-mode .auto {
    float: right;
    height: 100%;
    font-size: 3em;
    font-family: 'Open Sans Condensed Light', sans-serif;
    font-style: normal;
    text-align: right;
    margin-right: 12px;
    margin-left: 8px;
    color: white;
}

.state .ambiance-mode .sun {
    float: right;
    display: block;
    width: 50px;
    height: 65px;
    opacity: 1;
    background: url('../images/ambiance-comfort.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 40px;
}

.state .ambiance-mode .cold {
    float: right;
    display: block;
    width: 50px;
    height: 65px;
    opacity: 1;
    background: url('../images/ambiance-reduced.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 40px;
}

.state .sensor .sensor-status {
    float: right;
    display: block;
    width: 50px;
    height: 65px;
    opacity: 1;
    background: url('../images/sensor.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 40px;
}

.state .sensor .sensor-status.inactive {
    -webkit-animation: sensorInactive 1s infinite;
    -moz-animation: sensorInactive 1s infinite;
    -o-animation: sensorInactive 1s infinite;
    animation: sensorInactive 1s infinite;
}

@keyframes sensorInactive {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.setup-button {
    position: absolute;
    width: 46px;
    height: 46px;
    bottom: 0px;
    right: 0px;
    background-color: transparent;
}

.setup-button i {
    color: #FFFFFF;
    font-size: 40px;
    opacity: 0.35;
}

.log-button {
    position: absolute;
    width: 46px;
    height: 46px;
    bottom: 2px;
    right: 48px;
    background-color: transparent;
}

.log-button i {
    color: #FFFFFF;
    font-size: 40px;
    opacity: 0.35;
}

.setup-screen i {
    color: #FFFFFF;
}

.close-setup i {
    color: #FFFFFF;
    margin-top: 8px;
    font-size: 40px;
}

.setup-screen p.lead {
    font-size: 3em;
    color: #FFFFFF;
    margin-bottom: 0;
}

.setup-screen p span.muted {
    color: #035A73;
    font-size: 0.4em;
}

.setup-screen .close-setup {
    position: absolute;
    right: 10px;
    top: 0;
}

.target-temperature {
    color: #FFFFFF;
    font-size: 3em;
    line-height: 3em;
    height: 3em;
}

.target-temperature span {
    font-size: 3em;
}

.close-setup a {
    width: 5%;
}

.increase-temp,
.decrease-temp {
    position: relative;
    color: #FFFFFF;
    font-size: 3em;
}

.increase-temp i {
    margin-top: .3em;
}

.decrease-temp i {
    margin-top: .6em;
}

.setup-type {
    margin-bottom: 1.5em;
    left: 50%;
    margin-left: -190px;
}

.btn-group-vertical > .btn:first-child:not(:last-child),
.btn-group-vertical > .btn:last-child:not(:first-child) {
    border-radius: 0;
}

.ambiance-mode-setup {
    margin-top: 2.5%;
    margin-left: 2%;
}

.ambiance-mode-setup .btn,
.setup-type .btn {
    background-color: transparent;
    border: 1px solid #035A73;
    color: #035A73;
    box-shadow: none;
    border-radius: 0;
}

.ambiance-mode-setup .btn.active,
.ambiance-mode-setup .btn:active,
.setup-type .btn.active,
.setup-type .btn:active {
    background-color: #035A73;
    color: #FFFFFF;
}

.datetime-setup {
    height: 164px;
}

.datetime-setup > div {
    opacity: 0;
}

.datetime-setup > div.active {
    opacity: 1;
}

.datetime-setup .day {
    float: left;
    width: 100%;
    margin-bottom: 10px;
}

.datetime-setup .day > label {
    float: left;
    color: #035A73;
}

.datetime-setup .day .hours {
    width: 100%;
    float: left;
}

.datetime-setup .day .hours .hour {
    float: left;
    width: 33px;
    height: 80px;
    margin-right: -1px;
    border: 1px solid #6FC8E2;
}

.datetime-setup .day .hours .hour > label {
    width: 100%;
    text-align: center;
    color: #035A73;
    margin-top: 0.4em;
}

.datetime-setup .day .hours .hour .hour-half {
    border-top: 1px solid #6FC8E2;
}

.datetime-setup .day .hours .hour .hour-half .half {
    float: left;
    width: 50%
}

.datetime-setup .day .hours .hour .hour-half .half input[type="checkbox"] {
    display: none;
}

.datetime-setup .day .hours .hour .hour-half .half .button {
    width: 100%;
    height: 47px;

}

.datetime-setup .day .hours .hour .hour-half .half:first-child .button {
    border-right: 1px solid #6FC8E2;
}

.datetime-setup .day .hours .hour .hour-half .half .button {
    background-color: #2EB2D7;
}

.datetime-setup .day .hours .hour .hour-half .half .button.active {
    background-color: #035A73;
}

.datetime-setup #everydays,
.datetime-setup #weekdays,
.datetime-setup #eachdays {
    margin-top: 20px;
}

.datetime-setup .nav-tabs {
    border-color: #035A73;
}

.datetime-setup #everydays li a,
.datetime-setup #weekdays li a,
.datetime-setup #eachdays li a {
    border-radius: 0;
    background-color: transparent;
    color: #035A73;
    border-color: transparent;
    padding: 6px 15px;
}

.datetime-setup #everydays li.active a,
.datetime-setup #weekdays li.active a,
.datetime-setup #eachdays li.active a {
    background-color: #035A73;
    border-color: #035A73;
    color: #FFFFFF;
}

.datetime-setup #everydays .tab-content,
.datetime-setup #weekdays .tab-content,
.datetime-setup #eachdays .tab-content {
    margin-top: 10px;
}

.legend .comfort_mode,
.legend .reduce_mode {
    width: 15px;
    height: 25px;
    float: left;
    margin-right: 10px;
}

.legend span {
    line-height: 2em;
}

.legend .comfort_mode {
    /*border: 1px solid #6FC8E2;*/
    background-color: #035A73;
}

.legend .reduce_mode {
    /*border: 1px solid #6FC8E2;*/
    background-color: #2EB2D7;
}

.ambiance-setup {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 188px;
    z-index: 10;
    margin-left: -75px;
    margin-top: -94px;
    background-color: transparent;
    border: 6px solid white;
    border-radius: 6px;
}

.ambiance-setup .close-button {
    display: inline-block;
    height: 0;
    width: 0;
    left: 132px;
    position: relative;
    top: -38px;
    z-index: 11;
}

.ambiance-setup .close-button i {
    color: white;
    font-size: 48px;
    border-radius: 50%;
    box-shadow: 0 0 0px 6px #0785A9;
    background-color: #0785A9;
}

.ambiance-setup .btn-group-vertical {
    width: 100%;
}

.ambiance-setup .btn-group-vertical label {
    font-size: 2em;
}

.validAction {
    -webkit-animation-name: validActionAnimation;
    -moz-animation-name: validActionAnimation;
    -o-animation-name: validActionAnimation;
    animation-name: validActionAnimation;
    -webkit-animation-duration: 2s;
    -moz-animation-duration: 2s;
    -o-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-timing-function: ease;
    -moz-animation-timing-function: ease;
    -o-animation-timing-function: ease;
    animation-timing-function: ease;
}

@keyframes validActionAnimation {
    0% {
        color: #FFFFFF;
    }
    50% {
        color: #00FF00;
    }
    100% {
        color: #FFFFFF;
    }
}

@media (max-width: 768px) {
    html {
        width: 480px;
        height: 800px;
    }

    .container-fluid .dashboard .date-time {
        height: 44%;
        margin-top: 7%;
    }

    .container-fluid .dashboard .home-values {
        height: 49%;
        margin-top: 6%;
    }

    .container-fluid .dashboard .home-values div.temperature {
        margin: -2% auto;
    }

    .outside-resume-display {
        background-color: #0785A9;
    }
}